
@main("AcercaDe") {
	
<h1>TodoList</h1>

<table class="table table-striped">
    <tr>
    <thead class="thead-inverse bg-primary">
        <th>
        Miembros
        </th>
    </thead>
    	<td>
    		Jorge Segovia Tormo
    	</td>
    	<td>
    		Adrián Gosálvez Maciá
    	</td>
    </tr>
</table>

<h2> Version: X.X </h2>
<!--
Se añade la version en la rama release se añade justo antes de pasarlo a production ramaIntegrar
-pull request a Master
-de master a release donde se cambia la versión
-de release a production -->
}