@(proyectos: List[Proyecto],tarea: Tarea, mensaje: String)


@scripts = {
    <script type="text/javascript">
        function edi(urlEditar) {
            $.ajax({
                url: urlEditar,
                type: 'POST',
                success: function(results) {
                  window.location.assign("@routes.TareasController.listaTareas(tarea.usuario.id)");
                }
            });
        }
    </script>
}

@main("Asignar Proyecto para la tarea @tarea.id", scripts){
  <div class="col-xs-push-1 col-xs-11">
          <table>
            <td>
                <a class="btn btn-primary"  href="@routes.TareasController.listaTareas(tarea.usuario.id)">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <h1>Listado de proyectos disponibles</h1>
            </td>
        </table>

          <ul class="list-group">
              <table class="table table-striped">
                  <tr>
                  <thead class="thead-inverse bg-primary">
                      <th>Id</th>
                      <th>Nombre</th>
                      <th>Asignar</th>
                  </thead>
                  </tr>
              @for(proyecto <- proyectos) {
                  <tr>
                      <td>@proyecto.id</td>
                      <td>@proyecto.nombre</td>
                      <td><a style="cursor: pointer;" onclick="edi('@routes.TareasController.RealizarAsignacion(tarea.id,proyecto.id)')">
                        <i class="fa fa-check fa-2x" aria-hidden="true" style="color:#04B431"></i>
                      </a>
                      </td>
                  </tr>
                }
            </table>
          </ul>
    </div>

}
