
@main("Buscador") {

	<h1>Buscador</h1>

  <div class="row" style="background-color: #333; height: 50px">
        <div class="col-xs-8" style=" position: relative; top: 7px;">
            <div class="input-group col-xs-12">
                <input type="text" class="form-control input-md" placeholder="Buscar" />
                <span class="input-group-btn">
                    <button class="btn btn-success btn-md" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
	
	  	<div class="col-xs-2 hide">
			<span style="color: white">Tarea</span>
			<input type="checkbox">		 
	  	</div>

	  	<div class="col-xs-2">
	  		<span style="color: white">Ususario</span>
			<input type="checkbox" checked>
		</div>		
  </div>


  <div class="row">
  	
  	<div class="col-xs-4">
  		
  	</div>

  	<div class="col-xs-4">
  		
  	</div>

  	<div class="col-xs-4">

  	</div>

  </div>

}