@(ListaUsers: List[Usuario],ListaTask: List[Tarea], usuario: Usuario, cantidadU: Integer, cantidadT: Integer)

@scripts = {
    <script type="text/javascript">
        function search() {
        	var termino = $("#buscar").val();
        	var URL = "/buscador?id="+ @usuario.id+"&busqueda="+termino
        
            $.ajax({
                url: URL,
                type: 'GET',
                success: function(results) {
                    //refresh the page
                    location = URL
                    location.load()
                    
                }
            });
        }

        function BTarea(input) {
          if(input.checked == true){
            if(document.getElementById("idUsuario").checked==true){
              document.getElementById("usuarioZona").className="col-xs-6";
              document.getElementById("tareaZona").className="col-xs-6";
            }
            else{
              document.getElementById("usuarioZona").className="hidden";
              document.getElementById("tareaZona").className="col-xs-12";          
            }
          }
          else{
            if(document.getElementById("idUsuario").checked==true){
              document.getElementById("usuarioZona").className="col-xs-12";
              document.getElementById("tareaZona").className="hidden";
            }
            else{
              document.getElementById("usuarioZona").className="hidden";
              document.getElementById("tareaZona").className="hidden";             
            }
          }
        }

        function BUsuario(input) {
          if(input.checked == true){
            if(document.getElementById("idTarea").checked==true){
              document.getElementById("usuarioZona").className="col-xs-6";
              document.getElementById("tareaZona").className="col-xs-6";
              document.getElementById("mensajeVacio").className="col-xs-12 alert alert-success hide";
            }
            else{
              document.getElementById("usuarioZona").className="col-xs-12";
              document.getElementById("tareaZona").className="hidden";
              document.getElementById("mensajeVacio").className="col-xs-12 alert alert-success";          
            }
          }
          else{
            if(document.getElementById("idTarea").checked==true){
              document.getElementById("usuarioZona").className="hidden";
              document.getElementById("tareaZona").className="col-xs-12";
              document.getElementById("mensajeVacio").className="col-xs-12 alert alert-success hide";
            }
            else{
              document.getElementById("usuarioZona").className="hidden";
              document.getElementById("tareaZona").className="hidden";
              document.getElementById("mensajeVacio").className="col-xs-12 alert alert-success";             
            }
          }
        }
        

    </script>
}

@main("Buscador", scripts) {

<br>
<br>
<br>

<nav class="navbar navbar-fixed-top">
  <div class="container">
  <div class="row" style="background-color: #333; height: 50px">
        <div class="col-xs-8" style=" position: relative; top: 7px;">
            <div class="input-group col-xs-12">
                <input type="text" id="buscar" class="form-control input-md" placeholder="Buscar" />
                <span class="input-group-btn">
                    <button class="btn btn-success btn-md" type="button" onclick="search()">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
	
	  	<div class="col-xs-2">
			<span style="color: white">Tarea</span>
			<input type="checkbox" id="idTarea" checked onchange="BTarea(this)">		 
	  	</div>

	  	<div class="col-xs-2">
	  		<span style="color: white">Ususario</span>
			<input type="checkbox" id="idUsuario" checked onchange="BUsuario(this)"">
		</div>		
  </div>
  </div>
  </nav>

<div class = "col-xs-12 alert alert-success hide" id="mensajeVacio">
<h1>Seleccione que quiere ver</h1>
</div>

<div class="col-xs-6" id="usuarioZona">

	<div class="row bg-primary">
	USUARIOS  Cantidad= @cantidadU
	</div>

@for(user <- ListaUsers) {
<br>
  <div class="row">
  	<div class="col-xs-4">
  		    <div class="col-xs-1 bg-primary">
  				@user.id
  			</div>
  			<div class="col-xs-3">
  				@user.login	
  			</div>
  	</div>

  	<div class="col-xs-4">
  		<a class="btn btn-primary" href="@routes.UsuarioController.detalleUsuario(user.id)">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </a>
  	</div>

  	<div class="col-xs-4">

  	</div>

  </div>
  }
  </div>

  <div class="col-xs-6" id="tareaZona">

  <div class="row" style="background-color: orange">
  Tareas  Cantidad= @cantidadT
  </div>

@for(task <- ListaTask) {
<br>
  <div class="row">
    <div class="col-xs-4">
          <div class="col-xs-1" style="background-color: orange">
          @task.id
        </div>
        <div class="col-xs-3">
          @task.descripcion 
        </div>
    </div>

    <div class="col-xs-4">

    </div>

    <div class="col-xs-4">
        @task.tamano
    </div>

  </div>
  }
  </div>


}