@(usuario: Usuario, contador: String, mensaje: String)

@scripts = {
	
	<script type="text/javascript">
		
		$(document).ready(function(){
            setTimeout(function(){$("#temporal").hide();  }, 3000)
        });


		function buscaDass(){
			var termino = $("#TextoBuscador").val();
			var URL = "/buscador?id="+ @usuario.id+"&busqueda="+termino
			$.ajax({
				url: URL,
                type: 'GET',
                success: function(results) {
                	location = URL
                    location.load();
                }
            });
		}

		function modificaUser(){
			var date = '@usuario.fechaNacimiento'
			var dateFin= date.split("-")[2]+'-'+ date.split("-")[1] +'-'+ date.split("-")[0]

			document.getElementById("FormMostrar").innerHTML = 
			'<div class="row hide">id:<br> '+
				'<a> @usuario.id </a>'+
			'</div>'+
			'<div class="row">Login:<br> '+
				'<a> @usuario.login </a>'+
			'</div>'+
			'<div class="row">Email:<br> '+
				'<input type="text" name="eMail" id="emailChange" value=@usuario.eMail>'+
			'</div>'+
			'<div class="row">Nombre:<br> '+
				'<input type="text" name="Nombre" id="nombreChange" value=@usuario.nombre>'+
			'</div>'+
			'<div class="row">Apellidos:<br> '+
				'<input type="text" name="Apellidos" id="apellidosChange" value=@usuario.apellidos>'+
			'</div>'+
			'<div class="row">fechaNacimiento dd-mm-aaaa:<br> '+
				'<input type="text" name="fechaNacimiento" id="apellidosChange" value='+dateFin+'>'+
			'</div>'+
			'<div class="row" >Contraseña: <br> '+
				'<input type="password" name="password" id="contraseñaChange" value=@usuario.password>'+
			'</div>'+
			'<div class="row hide" >imagen: <br> '+
				'<input type="text" name="imagen" id="imagenChange" value=@usuario.imagen>'+
			'</div>'+
			'<div class="row">'+
			'<input type="submit" class="btn btn-primary btn-lg" value="Cambiar">'+
			'<a class="btn btn-danger btn-lg" onclick="nomodificaUser()" >Cancelar </a>'+
			'</div>'


		}

		function nomodificaUser(){
			document.getElementById("FormMostrar").innerHTML = 
							'<h4> id:	@usuario.id</h4>'+
							'<h4>login:	@usuario.login</h4>'+
							'<h4>email: 	@usuario.eMail </h4>'

		}

		function modificarImagen(){
			var date = '@usuario.fechaNacimiento'
			var dateFin= date.split("-")[2]+'-'+ date.split("-")[1] +'-'+ date.split("-")[0]

			document.getElementById("FormImagen").innerHTML = 
			'<div class="col-xs-12 col-lg-push-1">'+
				'<IMG class="img-thumbnail img-responsive" SRC="@usuario.imagen" >'+
				'<div class="row" >URL: <br> '+
					'<input type="text" name="imagen" id="imagenChange" value="@usuario.imagen">'+
				'</div>'+
				'<div class="row hide">id:<br> '+
					'<input type="text" name="id" id="loginChange" value=@usuario.id>'+
				'</div>'+
				'<div class="row hide">Login:<br> '+
					'<input type="text" name="Login" id="loginChange" value=@usuario.login>'+
				'</div>'+
				'<div class="row hide">Email:<br> '+
					'<input type="text" name="eMail" id="emailChange" value=@usuario.eMail>'+
				'</div>'+
				'<div class="row hide">Nombre:<br> '+
					'<input type="text" name="Nombre" id="nombreChange" value=@usuario.nombre>'+
				'</div>'+
				'<div class="row hide">Apellidos:<br> '+
					'<input type="text" name="Apellidos" id="apellidosChange" value=@usuario.apellidos>'+
				'</div>'+
				'<div class="row hide">fechaNacimiento dd-mm-aaaa:<br> '+
					'<input type="text" name="fechaNacimiento" id="apellidosChange" value='+dateFin+'>'+
				'</div>'+
				'<div class="row hide" >Contraseña: <br> '+
					'<input type="text" name="password" id="contraseñaChange" value=@usuario.password>'+
				'</div>'+
				'<div class="row hide" >imagen: <br> '+
				'<input type="text" name="imagen" id="imagenChange" value=@usuario.imagen>'+
				'</div>'+
				'<div class="row">'+
					'<input type="submit" class="btn btn-primary btn-lg" value="Cambiar">'+
					'<a class="btn btn-danger btn-lg" onclick="nomodificaImagen()" >Cancelar </a>'+
				'</div>'+
			'</div>'
		}

		function nomodificaImagen(){
			document.getElementById("FormImagen").innerHTML = 
							'<IMG class="img-thumbnail img-responsive" SRC="@usuario.imagen" >'
		}

	</script>

}

@main("Dash", scripts){
	<div class="col-xs-12 well" >
		<div class="row">

			    @if(mensaje != "") {
        			<div class="alert alert-danger" id="temporal">
           				 @mensaje
       				 </div>
    			}

			<div class="col-xs-8">
				<h1> DashBoard</h1>
				<div class="row">
					<div class="row">
						<div class="col-xs-6">
				@helper.form(action = routes.UsuarioController.modificarImagenDashboard(usuario.id)){
							<div id="FormImagen">
								<IMG class="img-thumbnail img-responsive" SRC="@usuario.imagen"  >
							</div>
							}
						</div>
				@helper.form(action = routes.UsuarioController.escribirUsuarioModificadoDashBoard(usuario.id)){

						<div class="col-xs-6 text-info" id="FormMostrar">
							<h4> id:	@usuario.id</h4>
							<h4>login:	@usuario.login</h4>
							<h4>email: 	@usuario.eMail </h4>
						</div>
						}
					</div>
					<div class="row">
						<div class="col-xs-6 text-center panel-body">
							<a onclick="modificarImagen()" class="btn btn-info btn-lg">
					          <span class="glyphicon glyphicon-picture"></span> Modificar Foto
					      	</a>
						</div>
						<div class="col-xs-6 text-center panel-body">
					      <a onclick="modificaUser()" class="btn btn-info btn-lg" >
					          <span class="glyphicon glyphicon-cog"></span> Modificar Usuario
					      </a>
						</div>					
					</div>
				</div>
			</div>


			
			<div class="col-xs-4">

			<div class="row">
				<div class="col-xs-12">
					<input type="text" name="buscar" placeholder="Tareas y Usaurios" id="TextoBuscador">
					<a class="btn btn-info" onclick="buscaDass()"><span class="glyphicon glyphicon-search" onclick=""> </span></a>
				</div>
			</div>

			<div class="row">
			<h1>Notificaciones</h1>
			</div>
			<div class="row">
			<div class="col-xs-12 pre-scrollable" style="background-color: gray;max-height: 425px">

				<div class="row well">
					<button class="btn btn-primary">
						<span class="glyphicon glyphicon-info-sign"> Notificaciones </span>
					</button>
				</div>
				<div class="row well">
					<button class="btn btn-primary">
						<span class="glyphicon glyphicon-info-sign"> Notificaciones </span>
					</button>
				</div>
				<div class="row well">
					<button class="btn btn-primary">
						<span class="glyphicon glyphicon-info-sign"> Notificaciones </span>
					</button>
				</div>
				<div class="row well">
					<button class="btn btn-primary">
						<span class="glyphicon glyphicon-info-sign"> Notificaciones </span>
					</button>
				</div>
				<div class="row well">
					<button class="btn btn-primary">
						<span class="glyphicon glyphicon-info-sign"> Notificaciones </span>
					</button>
				</div>
				<div class="row well">
					<button class="btn btn-primary">
						<span class="glyphicon glyphicon-info-sign"> Notificaciones </span>
					</button>
				</div>
				<div class="row well">
					<button class="btn btn-primary">
						<span class="glyphicon glyphicon-info-sign"> Notificaciones </span>
					</button>
				</div>
				<div class="row well">
					<button class="btn btn-primary">
						<span class="glyphicon glyphicon-info-sign"> Notificaciones </span>
					</button>
				</div>
			</div>

			</div>
		</div>

		</div>
			<div class=" row navbar navbar-inverse">
				<ul class="nav navbar-nav  col-xs-12">
					<li class="col-xs-4">
						<a class="btn btn-warning navbar-btn">
							<span class="glyphicon glyphicon-pencil" style="font-size: 20px; color:white"> 
								Tareas</span> 
						</a> 
					</li>
					<li class="col-xs-4">
						<a class="btn btn-info navbar-btn">
							<span class="glyphicon glyphicon-list" style="font-size: 20px; color:white"> Proyectos</span> 
						</a> 
					</li>
					<li class="col-xs-4">
						<a class="btn btn-danger navbar-btn" href="@routes.MensajeController.listarMensajesRecibidos(usuario.id)">
							<span class="glyphicon glyphicon-comment" style="font-size: 20px; color:white "> Mensajes 
								<span id="contadorMensajes">@contador</span> 
							</span> 
						</a> 
					</li>
					</ul>						
				</div>
		
	</div>

}