@(usuarioForm: Form[Usuario], mensaje: String)

@main("Editar Usuario") {

    @if(mensaje != "") {
        <div class="alert alert-danger">
            @mensaje
        </div>
    }

        <div class="col-xs-push-1 col-xs-11">
                <table>
            <td>
                <a class="btn btn-primary"  href="@routes.UsuarioController.listaUsuarios()">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <h1>Modificar Usuario</h1>
            </td>
        </table>
        
        @helper.form(action = routes.UsuarioController.escribirUsuarioModificado()) {
            <fieldset>
            <legend>Usuario a Modificar</legend>
            <input type="hidden" name="id" value='@usuarioForm("id").value' >
            @helper.inputText(usuarioForm("login"), '_label -> "Login")
            @helper.inputText(usuarioForm("nombre"), '_label -> "Nombre")
            @helper.inputText(usuarioForm("apellidos"), '_label -> "Apellidos")
            @helper.inputText(usuarioForm("eMail"), '_label -> "Correo electrónico")
            @helper.inputText(usuarioForm("fechaNacimiento"), '_label -> "Fecha nacimiento (dd-mm-aaaa)")
            </fieldset>

            <div>
            <input type="submit" class="btn btn-success btn-lg" value="Cambiar">
            <a class="btn btn-danger btn-xs" href="@routes.UsuarioController.listaUsuarios()">Cancelar</a>
            </div>
            }

        </div>
}