@(tareaForm: Form[Tarea], mensaje: String)

@scripts = {
    <script type="text/javascript">

        $(document).ready(function(){
            setTimeout(function(){$("#temporal").hide();  }, 3000)
            var id =  $("#usuarioId").val();
            $("#atras").attr("href","/usuarios/"+id+"/tareas");
            document.getElementById('@tareaForm("duracion").value'+"select").selected="selected";
        });

    </script>
}

@main("Editar Tarea",scripts) {

    @if(mensaje != "") {
        <div class="alert alert-danger" id="temporal">
            @mensaje
        </div>
    }

        <div class="col-xs-push-1 col-xs-11">
                <table>
            <td>
                <a class="btn btn-primary" id="atras" href=''><!-- direccionar hacia lista tareas usuario -->
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <h1>Modificar Tarea</h1>
            </td>
        </table>

        @helper.form(action = routes.TareasController.escribirTareaModificada()) {
            <fieldset>
            <legend>Tarea a Modificar: @tareaForm("id").value</legend>
            <input type="hidden" id="id" name="id" value='@tareaForm("id").value' >
            <input type="hidden" id="usuarioId" name="usuario.id" value='@tareaForm("usuario.id").value' >
            @helper.inputText(tareaForm("descripcion"), '_label -> "Descripcion")
            <select id="duracion" name="duracion" class="form-group">
                <option id="0select" value="0">Pequeña</option>
                <option id="1select" value="1">Mediana</option>
                <option id="2select" value="2">Grande</option>
                <option id="3select" value="3">Sin tamaño</option>
            </select>
            @helper.inputText(tareaForm("fecha"), '_label -> "Fecha (dd-mm-aaaa)")
            </fieldset>

            <div>
            <input type="submit" id="cambiar" class="btn btn-success btn-lg" value="Cambiar">
            </div>
            }

        </div>
}
