@(usuarios: List[Usuario],usuarioID: Usuario,proyectoID: Proyecto, mensaje: String)
@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                    //refresh the page
                    location.reload();
                }
            });
        }
    </script>
}
@main("Listado de Colaboradores", scripts) {

<div class="col-xs-push-1 col-xs-11">
    <h2> Listado de usuarios </h2>
    <table class="table table-striped">
        <tr>
            <thead class="thead-inverse bg-primary">
                <th>
                    ID: Login
                </th>
                <th>
                    Eliminar
                </th>
            </thead>
        </tr>
    @for(usuario <- usuarios) {
        <tr>
            <td>
                Usuario @usuario.id: @usuario.login
            </td>
            <td>
                <a class="btn btn-danger" onclick="del('')">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    }
    </table>
    <a class="btn btn-success" href="@routes.ProyectosController.AddColaboradorView(usuarioID,proyectoID)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    <span>Nuevo colaborador</span>
    @if(mensaje != null) {
        <div class="alert alert-success">
            @mensaje
        </div>
    }
    </div>
}
