@(tareas: List[Tarea], usuario: Usuario)

@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                    //refresh the page
                    location.reload();
                }
            });
        }
    </script>
}

@main("Tareas del usuario @usuario.id", scripts) {

<div class="col-xs-push-1 col-xs-11">
    <h2> Listado de tareas</h2>

    <h4>Usuario:  
        <a class="btn btn-primary" href="@routes.UsuarioController.detalleUsuario(usuario.id)">@usuario.login</a>
    </h4>

<ul class="list-group">
    <table class="table table-striped">
        <tr>
        <thead class="thead-inverse bg-primary">
            <th>Id</th>
            <th>Descripción</th>
            <th>Borrar</th>
        </thead>
        </tr>
    @for(tarea <- tareas) {
        <tr>
            <td>@tarea.id</td>
            <td>@tarea.descripcion</td>
            <td><a class="btn btn-danger" onclick="del('@routes.TareasController.borraTarea(tarea.id)')"> <span class="glyphicon glyphicon-trash" aria-hidden="true"</span></a> </td>
        </tr>
      }
  </table>

</ul>
</div>
}