@(usuarios: List[Usuario], mensaje: String)
@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                    //refresh the page
                    location.reload();
                }
            });
        }
    </script>
}
@main("Listado de usuarios", scripts) {

<div class="col-xs-push-1 col-xs-11">
    <h2> Listado de usuarios </h2>

    <ul class="list-group">
    <table class="table table-striped">
    <tr>
    <thead class="thead-inverse bg-primary">
        <th>
        ID: Login
        </th>
        <th>
        Borrar Usuario
        </th>
        <th>
        Detalle del Usuario
        </th>
        <th>
        Editar Usuario
        </th>
        <th>
        Tareas
        </th>
        </thead>
    </tr>
    @for(usuario <- usuarios) {
        <tr>
            <td>
                Usuario @usuario.id: @usuario.login
            </td>
            <td>
                <a class="btn btn-danger" onclick="del('@routes.UsuarioController.borraUsuario(usuario.id)')">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <a class="btn btn-primary" href="@routes.UsuarioController.detalleUsuario(usuario.id)">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <a class="btn btn-warning" href="@routes.UsuarioController.editarUsuario(usuario.id)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <a class="btn btn-info" href="@routes.TareasController.listaTareas(usuario.id)">
                    <span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
      }
      </table>
      <a class="btn btn-success" href="@routes.UsuarioController.crearUsuarioFormulario()"> <span class="glyphicon glyphicon-plus" aria-hidden="true"</span></a>&nbsp
        </li>

    </ul>

    @if(mensaje != null) {
        <div class="alert alert-success">
            @mensaje
        </div>
    }
    </div>
}
