@(tareas: List[Tarea], usuario: Usuario)

@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                    //refresh the page
                    location.reload();
                }
            });
        }
    </script>
}

@main("Tareas del usuario @usuario.id", scripts) {

<div class="col-xs-push-1 col-xs-11">
        <table>
            <td>
                <h1>Listado de tareas</h1>
            </td>
        </table>

    <h4>Usuario:
        <a class="btn btn-primary" href="@routes.UsuarioController.detalleUsuario(usuario.id)">@usuario.login</a>
    </h4>

<ul class="list-group">
    <table class="table table-striped">
        <tr>
        <thead class="thead-inverse bg-primary">
            <th>Id</th>
            <th>Descripción</th>
            <th>Editar</th>
            <th>Borrar</th>
            <th>Duracion</th>
            <th>Asignar Proyecto</th>
        </thead>
        </tr>
    @for(tarea <- tareas) {
        <tr>
            <td >@tarea.id</td>
            <td>@tarea.descripcion</td>
            <td><a class="btn btn-warning" href="@routes.TareasController.editarTarea(tarea.id)"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"</span></a> </td>
            <td><a class="btn btn-danger" onclick="del('@routes.TareasController.borraTarea(tarea.id)')"> <span class="glyphicon glyphicon-trash" aria-hidden="true"</span></a> </td>
            <td> @tarea.tamano</td>
            <td><a class="btn btn-success" href="@routes.TareasController.AsignarProyecto(tarea.id)">
              <input type="hidden" id="tareaproyecto" value ="" ></input>
              <script type="text/javascript">

              if("@tarea.proyecto" != ""){
                 document.write("<i class=\"fa fa-circle\" aria-hidden=\"true\"></i>");
              }else{
                 document.write("<i class=\"fa fa-circle-thin\" aria-hidden=\"true\"></i>");
              }
              </script>
              </a></td>


        </tr>
      }

  </table>
  <a class="btn btn-success" href="@routes.TareasController.crearTareaFormulario(usuario.id)"> <span class="glyphicon glyphicon-plus" aria-hidden="true"</span></a>
</ul>

</div>
}
