@(usuarioForm: Form[Usuario], mensaje: String)

@scripts = {
    <script type="text/javascript">

    	$(document).ready(function(){
            $("#checkuno").hide();
            $("#checkdos").hide();
            $("#caja").hide();
       		setTimeout(function(){$("#temporal").hide();  }, 3000)
		});

        function check(input) {
            if (input.value != document.getElementById("passuno").value) {
           		document.getElementById("mensPass").text = "No coinciden"
                $("#checkuno").hide();
                $("#checkdos").hide();
             } else {
                document.getElementById("mensPass").text = ""
            	$("#checkuno").show();
                $("#checkdos").show();
            }
        }
        function long(input){
        	var texto = input.value.toString().length
        	if(texto < 7){
        		var mensaje = document.getElementById("mensLong")
        		var longitud = 7 - input.value.toString().length 
        		mensaje.text = "minimo 7 caracteres, faltan " + longitud
        	}
        	else{
        		document.getElementById("mensLong").text = ""
        	}
        }     
    </script>
}

@main("Inicio",scripts) {

<div class="col-xs-push-1 col-xs-11 well">
    <div class="row">
        <div class="col-xs-6">
             <h2>Inicio</h2>
    
    
            <div>
            <table>
            @helper.form(action = routes.UsuarioController.entrarLogin()) {
                <tr>
                    <input type="text" id="login_oculto2" name="login" value='' placeholder="Usuario">
                </tr>
                <tr>
                    <input type="text" id="password_oculta2" name="password" value='' placeholder="Contraseña">
                </tr>   
                <tr>
                    <input type="submit" class="btn btn-primary btn-md" id="Entrar" value="Entrar">
                </tr>
            </table>
            }
            </div>

            <h3>Registro</h3>       

           @helper.form(action = routes.UsuarioController.registrarUsuario()) {
                <div>
                    <input type="text" id="login_visible" name="login" value='' placeholder="Usuario">
                </div>
                <div>
                    <input type="password" id="passuno" name="password" value='' placeholder="Contraseña" oninput="long(this)"> 
                    <a id="mensLong"></a>
                    <span class="glyphicon glyphicon-ok-sign" id="checkuno" placeholder="Contraseña" "></span>
                </div>

                <div>
                     <input type="password" id="passdos" name="Comprobar" value='' placeholder="Repetir Contraseña" oninput="check(this)">
                     <a id="mensPass">Las contraseñas deben coincidir</a> 
                     <span class="glyphicon glyphicon-ok-sign" id="checkdos"></span>
                </div>

                <div>
                    <input type="submit" class="btn btn-success btn-lg" id="Registrar" value="Registrar">
                </div>
            }
            
        </div>

        <div class="col-xs-6">
            <div>
            @if(mensaje != "") {
                <div class="alert alert-danger" id="temporal">
                    @mensaje
                </div>
            }
            </div>
        </div>
</div>
</div>
   

            }

