@(usuarioForm: Form[Usuario], mensaje: String, idUsuario: Integer)

@main("Subir imágen de perfil") {

    @if(mensaje != "") {
        <div class="alert alert-danger">
            @mensaje
        </div>
    }    
    
    <div class="col-xs-push-1 col-xs-11">
    <table>
        <td>
            <a class="btn btn-primary"  href="@routes.UsuarioController.detalleUsuario(idUsuario)">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a>
        </td>
        <td>
            <h1>Imágen de perfil</h1>
        </td>
    </table>

    <form action="@routes.UsuarioController.upload(idUsuario)" method="POST" enctype="multipart/form-data">

        <input type="file" name="imagen">
        
        <p>
            <input type="hidden" name="login" value="pruebaFoto">
            <input type="submit" value="Subir imágen">
        </p>

    </form> 
    
    </div>
}